#
# Copyright (c) 1995, 1998-1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.20	98/12/23 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
ARCH="ISA"
BASEDIR=/
SUNW_PKGVERS="1.0"
CATEGORY="system"
CLASSES="none"
DESC="software development utilities, including ar, dis, dump, elfdump, lex, lorder, mcs, nm, prof, ranlib, rpcgen, size, strip, tsort, and yacc"
EMAIL=""
HOTLINE="Please contact your local service provider"
MAXINST="1000"
NAME="CCS tools bundled with SunOS"
PKG="SUNWbtool"
SUNW_PKGTYPE="usr"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
VENDOR="Sun Microsystems, Inc."
VERSION="11.8.0,REV=0.0.0"
