#
# Copyright (c) 1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#pragma ident "@(#)pkginfo.tmpl	1.7 - 99/07/30 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWpamsc"
NAME="PAM Smart Card module"
ARCH="ISA"
SUNW_PRODNAME="SunOS"
SUNW_PKGTYPE="usr"
MAXINST="1000"
CATEGORY="system"
DESC="Pluggable Authentication Module for Smart Card Authentication"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none"
BASEDIR=/
SUNW_PKGVERS="1.0"
#VSTOCK="<reserved by Release Engineering for package part #>"
#ISTATES="<developer defined>"
#RSTATES='<developer defined>'
#ULIMIT="<developer defined>"
#ORDER="<developer defined>"
#INTONLY="<developer defined>"
VERSION="11.8.0,REV=0.0.0"
#PSTAMP=""
SUNW_PRODVERS="RELEASE/VERSION"
