#
# Copyright (c) 1993-1996, 1998-1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.12	98/12/23 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWpmu"
NAME="Power Management binaries"
ARCH="ISA"
VERSION="11.8.0,REV=0.0.0"
CATEGORY="system"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
DESC="Power Management binaries"
BASEDIR=/
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="usr"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
CLASSES="none"
