#
# Copyright (c) 1993-1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.4	98/12/23 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWpmux"
NAME="Power Management binaries (64-bit)"
ARCH="ISA"
VERSION="11.8.0,REV=0.0.0"
CATEGORY="system"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
DESC="Power Management binaries (64-bit)"
BASEDIR=/
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="usr"
SUNW_ISA="sparcv9"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
CLASSES="none"
