#
# Copyright (c) 1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.1	99/07/21 SMI"
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
 
PKG="SUNWusoc"
NAME="Sun Universal SOC+ Device Driver"
ARCH="sparc"
CATEGORY="system"
BASEDIR=/
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="root"
CLASSES="none"
DESC="Sun Universal SOC+ Fibre Channel Device Driver"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
VERSION="11.8.0,REV=0.0.0"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
