#
# Copyright (c) 1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#pragma ident	"@(#)pkginfo.tmpl 1.1	99/09/20 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWucbtx"
NAME="Apptrace support objects for ucblib (64 bit)"
ARCH="ISA"
CATEGORY="system"
BASEDIR=/
SUNW_PKGTYPE="usr"
CLASSES="none"
DESC="Apptrace shared objects for UCB compatibility libraries (64 bit)"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
VERSION="11.8.0,REV=0.0.0"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
SUNW_PKGVERS="1.0"
