#
# Copyright (c) 1995-1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.11	98/12/23 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWcpr"
NAME="Suspend, Resume package"
ARCH="sparc.sun4u"
VERSION="11.8.0,REV=0.0.0"
CATEGORY="system"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
DESC="Suspend, Resume package"
BASEDIR=/
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="root"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
CLASSES="none"
