#
# Copyright (c) 1997-1999 by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.6	98/12/23 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWbtoox"
ARCH="ISA"
BASEDIR=/
SUNW_PKGVERS="1.0"
CATEGORY="system"
CLASSES="none"
DESC="64-bit libraries for software development utilities, including lex and yacc"
EMAIL=""
HOTLINE="Please contact your local service provider"
MAXINST="1000"
NAME="CCS libraries bundled with SunOS (64-bit)"
SUNW_PKGTYPE="usr"
SUNW_ISA="sparcv9"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
VENDOR="Sun Microsystems, Inc."
VERSION="11.8.0,REV=0.0.0"
