##
##  mod_perl.config -- mod_perl shared configuration file
##

#   mod_perl version
MOD_PERL_VERSION = 1.21

#   Perl interpreter to use 
PERL = perl
LIBPERL = DEFAULT

PERL_STATIC_EXTS = Apache Apache::Constants Apache::ModuleConfig Apache::Log Apache::URI Apache::Util Apache::Connection Apache::Server Apache::File Apache::Table 
PERL_STATIC_SRCS = Apache.c Constants.c ModuleConfig.c Log.c URI.c Util.c Connection.c Server.c File.c Table.c


PERL_SECTIONS = yes
PERL_SSI = yes
PERL_TRACE = no
PERL_THREADS = no
PERL_STACKED_HANDLERS = yes
PERL_SAFE_STARTUP = no
PERL_METHOD_HANDLERS = yes
PERL_ACCESS = yes
PERL_HEADER_PARSER = yes
PERL_TIE_SCRIPTNAME = no
PERL_UTIL_API = yes
PERL_LOG_API = yes
PERL_AUTOPRELOAD = no
PERL_TABLE_API = yes
PERL_DSO_UNLOAD = no
PERL_CONNECTION_API = yes
PERL_AUTHZ = yes
DO_INTERNAL_REDIRECT = no
PERL_DIRECTIVE_HANDLERS = yes
PERL_DEFAULT_OPMASK = no
PERL_SERVER_API = yes
PERL_DISPATCH = yes
XS_IMPORT = no
PERL_INIT = yes
PERL_STARTUP_DONE_CHECK = no
PERL_CHILD_INIT = yes
PERL_FILE_API = yes
PERL_CHILD_EXIT = yes
PERL_HANDLER = yes
PERL_RUN_XS = no
PERL_STASH_POST_DATA = no
PERL_LOG = yes
PERL_TYPE = yes
PERL_RESTART_HANDLER = no
PERL_ORALL_OPMASK = no
PERL_MARK_WHERE = no
PERL_AUTHEN = yes
PERL_TRANS = yes
PERL_CLEANUP = yes
PERL_URI_API = yes
PERL_POST_READ_REQUEST = yes
PERL_FIXUP = yes
